[Desktop Entry]
Type=Application
Name=Sigeon DaVinci Installer
Comment=Install DaVinci Resolve on Sigeon OS
Exec=sigeon-davinci
Icon=sigeon-davinci
Terminal=false
Categories=AudioVideo;X-Sigeon;
StartupNotify=true
